<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- meta -%>
    <%- title -%>
    <%- link -%>
    <% if (includeStyles) { %>
      <link rel="stylesheet" type="text/css" href="/styles.css">
    <% } %>
  </head>
  <body>
    <div id="root"><%- renderedRoot %></div>
    <script>
      window.__INITIAL_STATE__ = <%- JSON.stringify(initialState) %>;
    </script>
    <% if (includeClient) { %>
      <script src="/client.js"></script>
    <% } %>
  </body>
</html>
